@import "mixin.styl"

html
body
#app
  width 100%
  height 100%
  margin 0
  padding 0
  box-sizing border-box

html
  font-size 12px
  font-family: 'PingFangSC-Regular', 'Roboto', "Helvetica Neue", "Helvetica", "STHeiTi", "Microsoft YaHei", "Arial", "sans-serif";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
h1
h2
h3
h4
h5
h6
ul
li
ol
p
a
strong
  margin 0
  padding 0

li {
  list-style: none;
}

a {
  text-decoration: none
}

* {
  box-sizing inherit
}

.btn {
  color: $fontColorTheme;
  background: #fff;
  border-radius: 50%;
  font-size: 1.3rem;
  text-align: center;
}

.btn:active {
  color: #ffffff !important;
  background: $fontColorTheme !important;
}

/*1px border*/
.border-1px {
  box-shadow: 0 0 1px 1px #ddd inset;
}

.flex {
  setPosUseFlexInit(row, space-between, center)
}

@media only screen and (min-width: 320px) {
  html {
    font-size: 9px
  }
}

@media only screen and (min-width: 360px) {
  html {
    font-size: 10px
  }
}

@media only screen and (min-width: 375px) {
  html {
    font-size: 10.42px
  }
}

@media only screen and (min-width: 400px) {
  html {
    font-size: 11.11px
  }
}

@media only screen and (min-width: 414px) {
  html {
    font-size: 11.50px
  }
}
