$fontColorTheme = #3EA0EA // 主题色
imgUrl($url) {
  background url($url) no-repeat center
  background-size cover
}
imgUrl2($url) {
  background url($url) no-repeat center
  background-size 100%
}
setBorder($borderwidth = 1px) {
  border $borderwidth solid red
}
