$fontColorTheme = #007dff // 主题色
$bgColorTheme = #f2f2f2 // 背景主色
$bdColorTheme = #ddd // 边框主题色
$borderColor2 = rgb(255,255,255)
$fontColorTheme2 = #000 // 主色字体
$fontColorHalfTrans = rgba(0,0,0,.5) // 半透明字体
$bgActiveColor = rgba(0,0,0,0.1) // 激活背景颜色
$fontSmallSize = 1.2rem
$fontMiddleSize = 1.4rem
$fontBigSize = 1.6rem
$bdRadMidSize = .8rem // 倒角（中等）
imgUrl($url)
  background url($url) no-repeat center
  background-size cover


imgUrl2($url)
  background url($url) no-repeat center
  background-size 100%

setBorder($color = rgb(26,26,26), $borderwidth = 1px)
  border $borderwidth solid $color

setBorderBot($color = $bdColorTheme, $borderwidth = 1px)
  border-bottom $borderwidth solid $color

setBorderTop($color = $bdColorTheme, $borderwidth = 1px)
  border-top $borderwidth solid $color

/*设置宽高*/
setWH($width = 100%, $height = 100%)
  width $width
  height $height

/*设置行高与高度*/
setHeight($height)
  height $height
  line-height $height

/*设置背景图片居中*/
setBgImgCenter($url, $size = contain)
  background-image url($url)
  background-size $size
  background-position center
  background-repeat no-repeat

/*置灰，禁用事件*/
setDisable()
  color $black_3
  pointer-events none


/*btn边框阴影*/
boxShadow()
  box-shadow inset 1px 1px 1px #fff
  border 1px solid $black_1

/*浮动清除*/
clearFix()
  &::before,
  &::after
    content ""
    display table
    height 0
    font-size 0
    overflow hidden
    clear both

/*字体设置*/
setFont($size = 1.3rem, $color = #000, $textAlign = left, $fontWeight = normal)
  font-size $size
  color $color
  text-align $textAlign
  font-weight $fontWeight

/* 定位 */
setPosition($pos = absolute, $top = 0, $left = 0)
  position $pos
  top $top
  left $left

/*margin + transform 居中*/
setCenterUseTransform()
  margin-top 50%
  margin-left 50%
  transform translateY(-50%) translateX(-50%)

/*position 居中*/
setCenterUsePosition()
  position absolute
  left 0
  top 0
  right 0
  bottom 0
  margin auto

/*position 居中2*/
setCenterUsePosition2()
  position absolute
  top 50%
  left 50%
  transform translate(-50%,-50%)

/*flex 布局设置，默认竖列水平垂直居中*/
setPosUseFlex($direction = column, $justifyCont = center, $align-items = center, $wrap = initial)
  display flex
  flex-direction $direction
  justify-content $justifyCont
  align-items $align-items
  flex-wrap $wrap

/*flex 布局设置，所有默认*/
setPosUseFlexInit($direction = initial, $justifyCont = initial, $align-items = initial, $wrap = initial)
  display flex
  flex-direction $direction
  justify-content $justifyCont
  align-items $align-items
  flex-wrap $wrap

/* 设置字体单行文字溢出显示省略号 */
setEllipsisOne()
  overflow hidden
  text-overflow: ellipsis
  white-space: nowrap


/* 设置字体多行文字溢出显示省略号 */
setEllipsisMore($count = 2)
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-line-clamp $count
  overflow hidden

setBgImgAndText($defult-img, $active-img)
  setPosUseFlex()
  setFont(1.3rem, $fontColorTheme2, center)
  padding 1rem
  .img-box
    setWH(3.2rem, 3.2rem)
    imgUrl($defult-img)
  &:active
    background-color $bgActiveColor

setIcon($defult-img, $active-img, $wh1 = 4rem, $wh2 = 3rem)
  setWH($wh1, $wh1)
  border-radius 50%
  background #fff url($defult-img) no-repeat center
  background-size $wh2 $wh2
  &:active
    background-color $bgActiveColor
